playwright
beautifulsoup4
lxml
html2text

langchain-text-splitters

pydantic-settings
python-dotenv

structlog
tqdm

qdrant-client

sentence-transformers

fastapi
uvicorn

pandas==2.2.2
openpyxl==3.1.3
